@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* src/app/globals.css կամ layout.tsx-ի style-ներ */
@media screen and (max-width: 1280px) {
  .sign-img-cont {
    display: none;
  }
  
  .sign-in-cont {
    width: 100% !important;
  }
  
  .sign-in {
    width: 385px !important;
    gap: 22px !important;
  }
  
  .logo-img {
    left: 35px !important;
    top: 28px !important;
  }
  
  h1 {
    font-size: 24px !important;
  }
  
  .subtitle {
    font-size: 13px !important;
  }
  
  .cta {
    font-size: 13px !important;
  }
  
  .logo-img {
    width: 132px !important;
  }
}

@media screen and (max-width: 645px) {
  .sign-in {
    width: 82% !important;
    gap: 32px !important;
  }
  
  .logo-img {
    width: 124px !important;
  }
}
/* app/globals.css */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.25s ease forwards;
}